<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Local</string>
	<key>ordering</key>
	<array>
		<string>9F1A7C20-99AC-4325-BA6E-53E8076ABD9F</string>
	</array>
	<key>uuid</key>
	<string>D51590ED-2F9A-40C0-B97B-2C725926C8D2</string>
</dict>
</plist>
